<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Made by <a href="#" rel="nofollow">Maksim Maksimov</a> 121088IAPB.</p>
        </div>
    </div>

</footer>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>