<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>Arhitektuurid 1 Home Work</title>

    {#<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />#}
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/bootstrap-theme-slate.min.css" rel="stylesheet"/>
    <link href="/css/main.css" rel="stylesheet"/>
</head>
