{% extends "index.twig" %}

{% block content %}
<section class="content-wrapper main-content clear-fix">
    <hgroup class="title">
        <h1>Reservation</h1>
        <h2>Delete</h2>
    </hgroup>
    <div class="alert alert-dismissible alert-danger">
        <p>Are you sure you want to delete this?</p>
    </div>
    <fieldset>
        <div>
            <span class="label">Reservation details</span>
        </div>
        <div class="well well-lg">
            {{ reservation.details }}
        </div>
    </fieldset>
    <form method="post" action="/reservation/delete">
        <input type="hidden" name="id" id="id" value="{{ reservation.id }}"/>
        <p>
            <input type="submit" class="btn btn-danger" value="Delete" /> |
            <a href="/reservation" class="btn btn-primary">Back to List</a>
        </p>
    </form>
</section>
{% endblock %}