{% extends "index.twig" %}

{% block content %}
<section class="content-wrapper main-content clear-fix">
    <hgroup class="title">
        <h1>Reservation</h1>
        <h2>Edit</h2>
    </hgroup>
    <div class="col-lg-12">
        <form method="post" action="/reservation/edit" class="form-horizontal">
            <fieldset>
                <input type="hidden" id="id" name="id" value="{{ reservation.id }}"/>

                <div class="form-group">
                    <label for="details" class="control-label">Reservation details</label>
                    <textarea id="details" name="details" class="form-control">{{ reservation.details }}</textarea>
                </div>
                <p class="row">
                    <input type="submit" class="btn btn-success" value="Save" /> |
                    <a href="/reservation" class="btn btn-primary">Back to List</a>
                </p>
            </fieldset>
        </form>
    </div>
</section>
{% endblock %}