<!DOCTYPE html>
<html lang="en">
    <!-- Include header -->
    {% include 'fragments/header.twig' %}
    <body>
        <!-- Include menu -->
        {% include 'fragments/menu.twig' %}
        <div class="container">
            <!-- Main page content -->
            {% block content %}{% endblock %}
            <!-- Include footer -->
            {% include 'fragments/footer.twig' %}
        </div>
    </body>
</html>