{% extends "index.twig" %}

{% block content %}
<section class="main-content clear-fix">
    <hgroup class="title">
        <h1>Reservation</h1>
        <h2>Details</h2>
    </hgroup>
    <fieldset>
        <div class="well well-lg">
            {{ reservation.details }}
        </div>
    </fieldset>
    <p>
        <a href="/reservation/edit/{{ reservation.id }}" class="btn btn-warning">Edit</a> |
        <a href="/reservation" class="btn btn-primary">Back to List</a>
    </p>
</section>
{% endblock %}