{% extends "index.twig" %}

{% block content %}
<section class="main-content clear-fix">
    <hgroup class="title">
        <h1>Reservations</h1>
        <h2>List of reservations</h2>
    </hgroup>
    <p>
        <a href="/reservation/create" class="btn btn-success">Create New</a>
    </p>

    <div class="list-group">
    {% for reservation in reservations %}
        <div class="reservation">
            <a href="/reservation/details/{{ reservation.id }}" class="list-group-item">
                <h4 class="list-group-item-heading">Reservation #{{ loop.index0 + 1 }}</h4>
                <p class="list-group-item-text">
                    {{ reservation.details }}
                </p>
            </a>
            <div class="actions">
                <a href="/reservation/edit/{{ reservation.id }}" class="btn btn-primary btn-xs">Edit</a> |
                <a href="/reservation/details/{{ reservation.id }}" class="btn btn-info btn-xs">Details</a> |
                <a href="/reservation/delete/{{ reservation.id }}" class="btn btn-danger btn-xs">Delete</a>
            </div>
        </div>
    {% endfor %}
    </div>

</section>
{% endblock %}