body {
  background-color: #273A4A; }

.header p {
  padding: 0;
  text-align: center;
  margin: 20px 0; }

.heading, .title, .subtitle {
  margin: 0;
  font-weight: 800;
  font-family: Cambria, serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #0F100A;
  text-align: center; }

.title {
  padding: 0;
  font-size: 50px; }

.subtitle {
  padding: 0 0 20px;
  font-size: 20px; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 25%; }
  ul a {
    margin: 0;
    padding: 0;
    width: 100%; }
  ul a.btn {
    padding: 20px 0;
    margin: 5px 0;
    display: inline-block;
    text-align: center;
    color: white;
    background-color: #0F100A;
    text-decoration: none;
    transition: 0.1s; }
  ul a.btn:hover {
    padding: 25px 0;
    margin: 0;
    color: #0F100A;
    background-color: #C4B092; }
  ul a.link {
    color: #92AEC4;
    text-decoration: none;
    border-bottom: 1px solid #92AEC4;
    transition: 0.05s; }
  ul a.link:hover {
    color: #786241; }

.footer .menu li {
  text-align: center; }

.wrapper {
  margin: 0 auto;
  padding: 30px;
  width: 900px;
  background-color: #D6EDFF;
  color: #0F100A;
  font: 15px Helvetica, sans-serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.content {
  margin: 20px 0;
  padding: 0; }

table {
  width: 100%;
  border-collapse: collapse; }

td {
  width: 25%;
  text-align: center;
  padding: 35px 0;
  font-size: 17px; }

tr:nth-child(odd) td:nth-child(odd) {
  background-color: #619875; }
tr:nth-child(odd) td:nth-child(even) {
  background-color: #92C4A4; }

tr:nth-child(even) td:nth-child(odd) {
  background-color: #92C4A4; }
tr:nth-child(even) td:nth-child(even) {
  background-color: #619875; }

.sass-link {
  display: block;
  color: red;
  padding: 50px;
  text-align: center;
  font: 30px bold Cambria, serif;
  line-height: 40px;
  transition: 0.1s; }

.sass-link:hover {
  padding: 48px 0 52px;
  font-size: 50px;
  color: purple; }

/*# sourceMappingURL=style.css.map */
