<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Politseile avalduse esitamine</title>

		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

		<!-- Bootstrap 3 -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<!-- Bootstrap 3 Datepicker -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.0-RC1/js/bootstrap-datepicker.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.0-RC1/locales/bootstrap-datepicker.et.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.0-RC1/css/bootstrap-datepicker.min.css"/>

		<!-- Bootstrap 3 Clockpicker -->
		<script type="text/javascript" src="https://weareoutman.github.io/clockpicker/dist/bootstrap-clockpicker.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://weareoutman.github.io/clockpicker/dist/bootstrap-clockpicker.min.css">

		<!-- AngularJS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>

		<!-- Custom style -->
		<link rel="stylesheet" href="skin/style.css"/>
	</head>
	<body>

		<div class="wrapper" ng-app="politseiApp" ng-controller="politseiController">

			<!-- Breadcrumbs -->
			<div class="form-head">
				<h1 class="form-title">Politseile avalduse esitamine</h1>
				<hr class="separator"/>
				<div class="tab">
					<ul id="breadcrumbs" class="breadcrumb"><!--
					--><li id="bc-1" ng-click="clickBreadcrumb(1)" ng-class="{'active': activeTab == 1, 'state-ok': activeTab > 1}" class="breadcrumb-item breadcrumb-text"><span>Sündmus</span><!--
					--><li ng-class="{'state-ok': activeTab > 1, 'state-wait': activeTab <= 1}" class="breadcrumb-item breadcrumb-arrow"></li><!--
					--><li id="bc-2" ng-click="clickBreadcrumb(2)" ng-class="{'active': activeTab == 2, 'state-ok': activeTab > 2, 'state-wait': activeTab <= 2}" class="breadcrumb-item breadcrumb-text"><span>Vara</span><!--
					--><li ng-class="{'state-ok': activeTab > 2, 'state-wait': activeTab <= 2}" class="breadcrumb-item breadcrumb-arrow"></li><!--
					--><li id="bc-3" ng-click="clickBreadcrumb(3)" ng-class="{'active': activeTab == 3, 'state-ok': activeTab > 3, 'state-wait': activeTab <= 3}" class="breadcrumb-item breadcrumb-text"><span>Süüdlased</span><!--
					--><li ng-class="{'state-ok': activeTab > 3, 'state-wait': activeTab <= 3}" class="breadcrumb-item breadcrumb-arrow"></li><!--
					--><li id="bc-4" ng-click="clickBreadcrumb(4)" ng-class="{'active': activeTab == 4, 'state-ok': activeTab > 4, 'state-wait': activeTab <= 4}" class="breadcrumb-item breadcrumb-text"><span>Tunnistajad</span><!--
					--><li ng-class="{'state-ok': activeTab > 4, 'state-wait': activeTab <= 4}" class="breadcrumb-item breadcrumb-arrow"></li><!--
					--><li id="bc-5" ng-click="clickBreadcrumb(5)" ng-class="{'active': activeTab == 5, 'state-ok': activeTab == 5, 'state-wait': activeTab <= 4}" class="breadcrumb-item breadcrumb-text"><span>Teataja</span></li><!--
					--></ul>
				</div>
				<hr class="separator"/>
			</div><!--/Breadcrumbs -->

			<!-- Tabs -->
			<div id="tab-container">
				<!-- Sündmus -->
				<form name="eventForm" id="tab-event" class="tab form-tab" ng-class="{'active': activeTab == 1}">
					<h2 class="tab-title">Sündmus</h2>
					<div class="pane-stack">
						<!-- Description fields -->
						<div class="tab-pane pane-wide">
							<div class="input-group field-wide">
								<div class="input-group-addon addon-normal">Riik</div>
								<select id="eventCountry" name="country" ng-model="eventCountry" class="form-control country-selector">
									<option ng-repeat="country in data.availableCountries" value="{{country.value}}">{{country.label}}</option>
								</select>
							</div>
							<div class="input-group field-wide inline-field">
								<div class="input-group-addon addon-normal">Aaddress</div>
								<input name="address" ng-model="event.address" class="form-control compound address-compound compound-left" type="text" placeholder="Tänav, maja nr, korter, linn"/>
								<input name="zipcode" ng-model="event.zipcode" class="form-control compound address-compound compound-right" type="text" placeholder="Sihtnumber"/>
							</div>
							<div class="input-group field-wide">
								<div class="input-group-addon addon-normal">Koht</div>
								<input name="place" ng-model="event.place" class="form-control" type="text" placeholder="Park, kauplus, internet vms"/>
							</div>
							<div class="field-wide">
								<div class="input-group-addon addon-textarea">Toimunu kirjeldus</div>
								<textarea name="description" ng-model="event.description" class="form-control textarea-with-addon" rows="6" placeholder="Sugu, vanus, kirjeldus, riietus jne" required></textarea>
							</div>
						</div>
						<!-- Time and date fields -->
						<div class="tab-pane pane-narrow">
							<div class="form-group">
								<div class="input-group-addon addon-textarea">Kuupäev</div>
								<div id="datepicker-main-event" class="datepicker"></div>
								<input id="datepicker-main-event-value" type="hidden" name="date" ng-model="event.date"/>
							</div>
							<div class="input-group clockpicker">
								<div class="input-group-addon addon-small">Kellaaeg</div>
								<input name="time" ng-model="event.time"  class="form-control" type="text" placeholder="--:--" required>
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-time"></span>
								</span>
							</div>
						</div>
						<!-- Hack --><div class="clear"></div>
					</div>
					<!-- Hack --><div class="clear"></div>
				</form><!-- /Sündmus -->

				<!-- Vara -->
				<form name="itemForm" id="tab-items" class="tab form-tab" ng-class="{'active': activeTab == 2}">
					<h2 class="tab-title">Ära võetud/viidud/saamata jäänud vara</h2>
					<div class="form-module-list">
						<!-- One module per each item reported -->
						<div class="form-module">
							<div class="pane-stack" data-ng-repeat="obj in items">
								<!-- Name, dates, value -->
								<div class="tab-pane pane-wide">
									<h3 class="module-title">Vara #{{obj.ind+1}}</h3>
									<div class="input-group field-wide">
										<div class="input-group-addon addon-normal">Nimetus</div>
										<input name="name" ng-model="item.name" class="form-control" type="text" required/>
									</div>
									<div class="inline-fields">
										<div class="input-group field-wide-half inline-field">
											<div class="input-group-addon addon-large">Soetamise aasta</div>
											<input name="purchase" ng-model="item.purchase" class="form-control" type="number" min="1900" max="9999" placeholder="----" required/>
										</div>
										<div class="input-group field-wide-half inline-field">
											<div class="input-group-addon addon-large">Hetkeväärtus (&euro;)</div>
											<input name="price" ng-model="item.price" class="form-control" type="number" required/>
										</div>
									</div>
									<div class="inline-fields">
										<div class="input-group field-wide-half inline-field">
											<div class="input-group-addon addon-large">Viimati valdus olemas</div>
											<input name="lastInPosessionDate" ng-model="items[$index].lastInPosessionDate" class="form-control datepicker-compact" type="text" placeholder="--.--.----" last-In-Posession-Item/>
										</div>
										<div class="input-group field-wide-half inline-field">
											<div class="input-group-addon addon-large">Kaotamine tuvastatud</div>
											<input name="lossDiscoveryDate" ng-model="items[$index].lossDiscoveryDate" class="form-control datepicker-compact" type="text" placeholder="--.--.----" loss-Discovery-Item/>
										</div>
									</div>
								</div>
								<!-- Description and lock status fields -->
								<div class="tab-pane pane-narrow">
									<div class="field-narrow">
										<div class="input-group-addon addon-textarea">Tundemärgid ja eritunnused</div>
										<textarea name="description" ng-model="item.description" class="form-control textarea-with-addon" rows="4" placeholder="Raaminumber, seerianumber, IMEI-kood jm"></textarea>
									</div>
									<div class="checkbox field-narrow">
										<input name="wasLocked" ng-model="item.wasLocked" class="checkbox-box" type="checkbox"><span class="checkbox-label">Vara oli lukustatud ruumis</span>
									</div>
								</div>
								<!-- Hack --><div class="clear"></div>
							</div>
							<!-- Hack --><div class="clear"></div>
							<div class="module-controls">
								<button ng-class="{'hidden': items.length == 0}" ng-click="removeLastItem()" class="btn btn-link button-remove" type="button">Eemalda</button>
								<button ng-click="addNextItem()" class="btn btn-link button-add" type="button">Lisa</button>
							</div>
						</div>
					</div>
					<!-- Hack --><div class="clear"></div>
				</form><!-- /Vara -->

				<!-- Süüdlased -->
				<form name="offenderForm" id="tab-offenders" class="tab form-tab" ng-class="{'active': activeTab == 3}">
					<h2 class="tab-title">Süüteo toime pannud isiku(te) andmed</h2>
					<div class="form-module-list">
						<!-- One module per each person reported -->
						<div class="form-module" data-ng-repeat="obj in offenders">
							<h3 class="module-title">Isik #{{obj.ind+1}}</h3>
							<!-- ID and/or name -->
							<div class="inline-fields">
								<div class="input-group field-narrow inline-field">
									<div class="input-group-addon addon-normal">Isikukood</div>
									<input name="id" ng-model="offender.id" class="form-control" type="text" placeholder="XXXXXXXXXXX" ng-pattern="/\d{11}/"/>
								</div>
								<div class="input-group field-wide inline-field">
									<div class="input-group-addon addon-normal">Nimi</div>
									<input name="fname" ng-model="offender.fname" class="form-control compound name-compound compound-left" type="text"/>
									<input name="sname" ng-model="offender.sname" class="form-control compound name-compound compound-right" type="text"/>
								</div>
							</div>
							<!-- Date of birth and address -->
							<div class="inline-fields">
								<div class="input-group field-narrow inline-field">
									<div class="input-group-addon addon-normal">Sünniaeg</div>
									<input name="dob" ng-model="offender.dob" class="form-control datepicker-compact" type="text" placeholder="--.--.----"/>
								</div>
								<div class="input-group field-wide inline-field">
									<div class="input-group-addon addon-normal">Aaddress</div>
									<input name="address" ng-model="offender.address" class="form-control compound address-compound compound-left" type="text" placeholder="Tänav, maja nr, korter, linn"/>
									<input name="zipcode" ng-model="offender.zipcode" class="form-control compound address-compound compound-right" type="text" placeholder="Sihtnumber"/>
								</div>
							</div>
							<!-- Nationality, description and contact info -->
							<div class="tab-pane pane-stack">
								<div class="tab-pane pane-half">
									<div class="input-group field-half">
										<div class="input-group-addon addon-normal">Kodakondsus</div>
										<select name="country" ng-model="offenderCountry" class="form-control country-selector">
											<option ng-repeat="country in data.availableCountries" value="{{country.value}}">{{country.label}}</option>
										</select>
									</div>
									<div class="field-half">
										<div class="input-group-addon addon-textarea">Tundemärgid</div>
										<textarea name="description" ng-model="offender.description" class="form-control textarea-with-addon" rows="4" placeholder="Sugu, vanus, kirjeldus, riietus jne" required></textarea>
									</div>
								</div>
								<div class="tab-pane pane-half">
									<div class="input-group field-half">
										<div class="input-group-addon addon-normal">Telefon</div>
										<input name="phone" ng-model="offender.phone" class="form-control" type="text"/>
									</div>
									<div class="input-group field-half">
										<div class="input-group-addon addon-normal">E-post</div>
										<input name="email" ng-model="offender.email" class="form-control" type="text"/>
									</div>
								</div>
								<!-- Hack --><div class="clear"></div>
							</div>
							<!-- Hack --><div class="clear"></div>
						</div>
						<div class="module-controls">
							<button ng-class="{'hidden': offenders.length == 0}" ng-click="removeOffender()" class="btn btn-link button-remove" type="button">Eemalda</button>
							<button ng-click="addOffender()" class="btn btn-link button-add" type="button">Lisa</button>
						</div>
						<!-- Hack --><div class="clear"></div>
					</div>
				</form><!-- /Süüdlased -->

				<!-- Tunnistajad -->
				<form name="witnessForm" id="tab-witnesses" class="tab form-tab" ng-class="{'active': activeTab == 4}">
					<h2 class="tab-title">Tunnistaja(te) andmed</h2>
					<div class="form-module-list">
						<!-- One module per each person reported -->
						<div class="form-module" data-ng-repeat="obj in witnesses">
							<h3 class="module-title">Tunnistaja #{{obj.ind+1}}</h3>
							<!-- ID and/or name -->
							<div class="inline-fields">
								<div class="input-group field-narrow inline-field">
									<div class="input-group-addon addon-normal">Isikukood</div>
									<input name="id" ng-model="witness.id" class="form-control" type="text" placeholder="XXXXXXXXXXX" check-Id-Witness/>
								</div>
								<div class="input-group field-wide inline-field">
									<div class="input-group-addon addon-normal">Nimi</div>
									<input name="fname" ng-model="witness.fname" class="form-control compound name-compound compound-left" type="text" check-Fname-Witness/>
									<input name="sname" ng-model="witness.sname" class="form-control compound name-compound compound-right" type="text" check-Sname-Witness/>
								</div>
							</div>
							<!-- Date of birth and address -->
							<div class="inline-fields">
								<div class="input-group field-narrow inline-field">
									<div class="input-group-addon addon-normal">Sünniaeg</div>
									<input name="dob" ng-model="witness.dob" class="form-control datepicker-compact" type="text" placeholder="--.--.----" check-Dob-Witness/>
								</div>
								<div class="input-group field-wide inline-field">
									<div class="input-group-addon addon-normal">Aaddress</div>
									<input name="address" ng-model="witness.address" class="form-control compound address-compound compound-left" type="text" placeholder="Tänav, maja nr, korter, linn"/>
									<input name="zipcode" ng-model="witness.zipcode" class="form-control compound address-compound compound-right" type="text" placeholder="Sihtnumber"/>
								</div>
							</div>
							<!-- Nationality and contact info -->
							<div class="pane-stack">
								<div class="tab-pane pane-half">
									<div class="input-group field-half">
										<div class="input-group-addon addon-normal">Kodakondsus</div>
										<select ng-model="witnessCountry" class="form-control country-selector">
											<option ng-repeat="country in data.availableCountries" value="{{country.value}}">{{country.label}}</option>
										</select>
									</div>
								</div>
								<div class="tab-pane pane-half">
									<div class="input-group field-half">
										<div class="input-group-addon addon-normal">Telefon</div>
										<input name="phone" ng-model="witness.phone" class="form-control" type="text" ng-pattern="/\+?[\d\(\)\-]+/" required/>
									</div>
									<div class="input-group field-half">
										<div class="input-group-addon addon-normal">E-post</div>
										<input ng-model="witness.email" class="form-control" type="email" required/>
									</div>
								</div>
								<!-- Hack --><div class="clear"></div>
							</div>
							<!-- Hack --><div class="clear"></div>
						</div>
						<div class="module-controls">
							<button ng-class="{'hidden': witnesses.length == 0}" ng-click="removeWitness()" class="btn btn-link button-remove" type="button">Eemalda</button>
							<button ng-click="addWitness()" class="btn btn-link button-add" type="button">Lisa</button>
						</div>
						<!-- Hack --><div class="clear"></div>
					</div>
				</form><!-- /Tunnistajad -->

				<!-- Teataja -->
				<form name="applicantForm" id="tab-applicant" class="tab form-tab" ng-class="{'active': activeTab == 5}">
					<h1 class="tab-title">Teataja andmed</h1>
					<!-- Company ID -->
					<div class="field-centered field-separate">
						<span class="form-text">Kui kannatanu on juriidiline isik</span>
						<div class="input-group auto-aligned">
							<span class="input-group-addon addon-normal">Registrikood</span>
							<input name="companyRegNumber" ng-model="applicant.companyRegNumber" class="form-control" type="text"/>
						</div>
					</div>
					<!-- ID card option -->
					<div class="checkbox field-centered field-separate">
						<input ng-click="updateSubmissionText()" name="usesDigitalSignature" ng-model="applicant.usesDigitalSignature" class="checkbox-box" type="checkbox"><span class="checkbox-label">Kasutan allkirjastamiseks ID-kaardi</span>
					</div>
					<!-- ID and/or name -->
					<div class="inline-fields">
						<div class="input-group field-narrow inline-field">
							<div class="input-group-addon addon-normal">Isikukood</div>
							<input name="id" ng-model="applicant.id" class="form-control" type="text" placeholder="XXXXXXXXXXX"/>
						</div>
						<div class="input-group field-wide inline-field">
							<div class="input-group-addon addon-normal">Nimi</div>
							<input name="fname" ng-model="applicant.fname" class="form-control compound name-compound compound-left" type="text"/>
							<input name="sname" ng-model="applicant.sname" class="form-control compound name-compound compound-right" type="text"/>
						</div>
					</div>
					<!-- Date of birth and address -->
					<div class="inline-fields">
						<div class="input-group field-narrow inline-field">
							<div class="input-group-addon addon-normal">Sünniaeg</div>
							<input name="dob" ng-model="applicant.dob" class="form-control datepicker-compact" type="text" placeholder="--.--.----" required/>
						</div>
						<div class="input-group field-wide inline-field">
							<div class="input-group-addon addon-normal">Aaddress</div>
							<input name="address" ng-model="applicant.address" class="form-control compound address-compound compound-left" type="text" placeholder="Tänav, maja nr, korter, linn"/>
							<input name="zipcode" ng-model="applicant.zipcode" class="form-control compound address-compound compound-right" type="text" placeholder="Sihtnumber"/>
						</div>
					</div>
					<!-- Nationality, prefecture and contact info -->
					<div class="pane-stack">
						<div class="tab-pane pane-half">
							<div class="input-group field-half">
								<div class="input-group-addon addon-normal">Kodakondsus</div>
								<select name="country" ng-model="applicantCountry" class="form-control country-selector">
									<option ng-repeat="country in data.availableCountries" value="{{country.value}}">{{country.label}}</option>
								</select>
							</div>
							<div class="input-group field-half">
								<div class="input-group-addon addon-normal">Prefektuur</div>
								<select name="prefecture" ng-model="applicantPrefecture" class="form-control" required>
									<option selected ng-selected="true">Üldine kontakt</option>
									<option>Põhja prefektuur</option>
									<option>Lõuna prefektuur</option>
									<option>Ida prefektuur</option>
									<option>Lääne prefektuur</option>
								</select>
							</div>
						</div>
						<div class="tab-pane pane-half">
							<div class="input-group field-half">
								<div class="input-group-addon addon-normal">Telefon</div>
								<input name="phone" ng-model="applicant.phone" class="form-control" type="text" required/>
							</div>
							<div class="input-group field-half">
								<div class="input-group-addon addon-normal">E-post</div>
								<input name="email" ng-model="applicant.email" class="form-control" type="email" required/>
							</div>
						</div>
						<!-- Hack --><div class="clear"></div>
					</div>
					<!-- Checkboxes -->
					<div class="checkbox field-separate">
						<input ng-model="applicant.agreesToSettle" class="checkbox-box" type="checkbox"><span class="checkbox-label">Olen nõus kokkuleppemenetlusega</span>
						<aside class="tiny-text">
							Kokkuleppemenetlus on menetluse liik, mille käigus nõustuvad süüdistatav ja tema kaitsja süüdistuse sisu ja kuriteo kvalifikatsiooni, kuriteoga&nbsp;tekitatud kahju laadi ja suurusega ning jõuavad kokkuleppele prokuröri poolt kohtus nõutava karistuse liigis ja määras
						</aside>
						<!-- Hack --><div class="clear"></div>
					</div>
					<div class="checkbox field-separate">
						<input ng-model="applicant.agreesToForwardDocuments" class="checkbox-box" type="checkbox"><span class="checkbox-label">Olen nõus, et menetlusega seotud dokumendid edastatakse minu poolt antud e-posti aadressile</span>
					</div>
					<div class="checkbox field-separate">
						<input ng-model="applicant.agreesToSpam" class="checkbox-box" type="checkbox"><span class="checkbox-label">Soovin teavet <a target="_blank" href="https://www.e-toimik.ee/">E-Toimiku</a> kaudu</span>
					</div>
					<!-- Contact preferences -->
					<div class="pane-stack">
						<div class="tab-pane pane-special inline-fields field-separate">
							<div class="input-group field-special-left inline-field">
								<div class="input-group-addon addon-large">Kontakteerimisviis</div>
								<select name="preferredContactMethod" ng-model="applicant.preferredContactMethod" class="form-control input-special-left" required>
									<option selected ng-selected="true">telefoni teel</option>
									<option>e-posti teel</option>
								</select>
							</div>

							<div class="input-group clockpicker field-special-right inline-field">
								<div class="input-group-addon addon-normal input-special-right-addon">Sobiv aeg</div>
								<input name="preferredContactTime" ng-model="applicant.preferredContactTime" type="text" class="form-control" placeholder="--:--">
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-time"></span>
								</span>
							</div>
						</div>
						<!-- Hack --><div class="clear"></div>
					</div>
					<!-- Final statement -->
					<p class="form-text-centered">Kõik esitatud andmed on õiged. Olen teadlik, et valeandmete esitamine on karistatav.</p>
				</form><!-- /Teataja -->

			</div><!--/Tabs -->

			<!-- Tab controls -->
			<div id="tab-controls" class="tab">
				<button ng-class="{'hidden': activeTab == 1}" ng-click="clickBack()" id="button-back" type="button" class="btn btn-secondary">Tagasi</button>
				<button ng-click="clickNext()" id="button-next" type="button" class="btn btn-primary">{{ nextButtonText }}</button>
				<!-- Hack --><div class="clear"></div>
			</div>

			<!-- Form script -->
			<script src="script.js"></script>
		</div>

	</body>
</html>
