/* General */
body {
  background: url("bg-hatch.png");
  overflow-y: scroll; }

.auto-aligned, .wrapper {
  margin-left: auto !important;
  margin-right: auto !important; }

.wrapper {
  width: 960px;
  background: url("bg-marble.png"); }

.clear {
  clear: both; }

.separator {
  margin: 0; }

/* Breadcrumbs */
#breadcrumbs {
  margin: 0;
  padding: 30px 0;
  background: url("bg-marble.png"); }

.breadcrumb-item, .breadcrumb-text, .breadcrumb-arrow {
  display: inline-block;
  text-align: center; }

.breadcrumb-text {
  /*width: ($width-tab - $width-breadcrumb-arrow * 4) / 5 */
  font-size: 20px; }

/* Manual breadcrumb item sizing */
#bc-1 {
  width: 151.6px; }

#bc-2 {
  width: 121.6px; }

#bc-3 {
  width: 171.6px; }

#bc-4 {
  width: 171.6px; }

#bc-5 {
  width: 145.6px; }

.breadcrumb-text.state-ok {
  color: #26394c;
  cursor: pointer; }

.breadcrumb-text.state-wait {
  color: #c6c0ad;
  cursor: default; }

.breadcrumb-text.active {
  color: #090a0c !important; }

.breadcrumb-arrow {
  position: relative;
  top: 1px;
  width: 22px;
  height: 13px; }

.breadcrumb-arrow.state-ok {
  background: url("arr-ok.png"); }

.breadcrumb-arrow.state-wait {
  background: url("arr-wait.png"); }

.breadcrumb > li + li::before {
  width: 0;
  content: none;
  display: none; }

/* Tabs and panes */
.form-tab {
  display: none; }

.form-tab.active {
  display: block !important; }

.tab {
  max-width: 850px;
  width: 850px;
  margin: 0 auto 0; }

.tab-pane {
  float: left;
  display: block; }

.tab-pane:nth-child(2) {
  margin-left: 20px; }

.pane-wide {
  max-width: 600px;
  width: 600px; }

.pane-narrow {
  max-width: 230px;
  width: 230px; }

.pane-half {
  max-width: 415px;
  width: 415px; }

.pane-special {
  margin-left: 125px !important;
  max-width: 600px;
  width: 600px; }

#tab-items .pane-stack:not(:nth-of-type(1)) {
  border-top: 1px solid #eceeef;
  padding-top: 25px; }

#tab-offenders .form-module:not(:first-child), #tab-witnesses .form-module:not(:first-child) {
  border-top: 1px solid #eceeef;
  padding-top: 15px; }

/* Inputs : Regular */
.inline-field {
  float: left;
  margin-left: 20px;
  margin-right: 0; }

.inline-field:first-child {
  margin-left: 0;
  margin-right: 20px; }

.inline-field:nth-child(3) {
  margin-left: 20px !important; }

.field, .field-wide, .field-wide-half, .field-half, .field-third, .field-narrow {
  margin: 0 0 17px; }

.field-wide, .field-wide-half {
  max-width: 600px;
  width: 600px; }

.field-wide-half {
  max-width: 290px; }

.field-half {
  max-width: 415px;
  width: 415px; }

.field-third {
  max-width: 270px;
  width: 270px; }

.field-narrow {
  max-width: 230px;
  width: 230px; }

.field-centered {
  text-align: center;
  margin: 0 auto 17px !important; }

.field-separate {
  margin-bottom: 34px !important; }

.field-special-left {
  width: 350px;
  margin-right: 0 !important; }

.field-special-right {
  width: 250px;
  margin-left: 0 !important; }

/* Standard addon sizes */
.addon-small {
  max-width: 80px;
  width: 80px; }

.addon-smallish {
  max-width: 95px;
  width: 95px; }

.addon-normal {
  max-width: 110px;
  width: 110px; }

.addon-large {
  max-width: 160px;
  width: 160px; }

/* Inputs : Compound */
.compound {
  float: left; }

.compound-left {
  border-right: none; }

.name-compound.compound-left {
  max-width: 245px;
  width: 245px; }

.name-compound.compound-right {
  max-width: 245px;
  width: 245px; }

.address-compound.compound-left {
  max-width: 390px;
  width: 390px; }

.address-compound.compound-right {
  max-width: 100px;
  width: 100px; }

/* Input-special */
.input-special-left {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-right: none; }

.input-special-right-addon {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important; }

/* Inputs : Textarea */
textarea {
  resize: none; }

.addon-textarea {
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 4px !important;
  border: 1px solid #ccc !important;
  border-bottom: 1px solid #eceeef !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  height: 34px !important; }

.textarea-with-addon {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important; }

/* Inputs : Datepicker */
.datepicker {
  display: block;
  margin: 0 auto; }

/* Inputs : Checkbox */
.checkbox {
  display: block;
  margin-left: 20px;
  margin-top: 15px; }

.checkbox-box {
  margin-left: 0 !important; }

.checkbox-label {
  padding-left: 27px !important; }

/* Form Text */
.form-text {
  display: inline-block;
  padding-bottom: 5px;
  color: #656365 !important; }

.form-text-centered {
  text-align: center; }

.tiny-text {
  margin-left: 10px;
  width: 600px;
  font-size: 9px; }

form:not(.ng-pristine) input.ng-invalid, form:not(.ng-pristine) textarea.ng-invalid, form:not(.ng-pristine) select.ng-invalid {
  border-color: #ff2a33;
  box-shadow: 0 0 2px #ff7a8f; }

/* Titles and headings */
.title, .form-title, .tab-title {
  margin: 0;
  text-transform: uppercase;
  text-align: center; }

.form-title {
  padding: 20px 0;
  font-size: 32px; }

.tab-title {
  padding: 20px 0;
  font-size: 20px; }

.module-title {
  margin: 0 0 17px;
  padding: 0 35px 0;
  font-size: 18px; }

.module-controls {
  text-align: center; }

/* Generic Buttons */
.btn {
  padding: 11px 35px; }

/* Form Control Buttons */
.button-remove {
  color: #ffad5e; }

.button-remove:hover {
  color: #f77900; }

/* Tab Control Buttons */
#tab-controls {
  padding: 17px 0 34px; }

#button-back {
  float: left; }

#button-next {
  float: right; }

/* Shims */
/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="number"] {
  -moz-appearance: textfield; }

/*# sourceMappingURL=style.css.map */
