$width-max: 960px
$width-tab: 850px

$margin-between-panes: 20px
$margin-between-inlines: 20px

$width-pane-wide: 600px
$width-pane-narrow: $width-tab - $margin-between-panes - $width-pane-wide
$width-pane-half: ($width-tab - $margin-between-panes) /2
$width-pane-third: ($width-tab - 2*$margin-between-panes) / 3
$width-pane-special: 600px

$img-hatch: url('bg-hatch.png')
$img-marble: url('bg-marble.png')

$img-arr-ok: url('arr-ok.png')
$img-arr-wait: url('arr-wait.png')

$width-breadcrumb-arrow: 22px
$height-breadcrumb-arrow: 13px

$width-breadcrumb-first: 151.6px
$width-breadcrumb-second: 121.6px
$width-breadcrumb-third: 171.6px
$width-breadcrumb-fourth: 171.6px
$width-breadcrumb-fifth: $width-tab - $width-breadcrumb-arrow*4 - $width-breadcrumb-first - $width-breadcrumb-second - $width-breadcrumb-third - $width-breadcrumb-fourth

$margin-vertical-between-inputs: 17px
$margin-vertical-between-groups: $margin-vertical-between-inputs * 2

$width-input-addon-small: 80px
$width-input-addon-smallish: 95px
$width-input-addon-normal: 110px
$width-input-addon-large: 160px

$width-name-compound-left: ($width-pane-wide - $width-input-addon-normal) /2
$width-name-compound-right: ($width-pane-wide - $width-input-addon-normal) - $width-name-compound-left

$width-address-compound-left: ($width-pane-wide - $width-input-addon-normal) - 100px
$width-address-compound-right: ($width-pane-wide - $width-input-addon-normal) - $width-address-compound-left

$padding-button: 11px 35px

$padding-title-vertical: 20px

$color-control-border: #eceeef
$color-darkish: #656365

$color-normal: #090a0c
$color-faded: #c6c0ad
$color-link: #26394c
$color-warning: #ffad5e
$color-error: #ff2a33
$color-error-shadow: #ff7a8f

$font-size-form-title: 32px
$font-size-tab-title: 20px
$font-size-breadcrumb-text: 20px

=reset
  margin: 0
  padding: 0

/* General */

body
  background: $img-hatch
  overflow-y: scroll

.auto-aligned
  margin-left: auto !important
  margin-right: auto !important

.wrapper
  @extend .auto-aligned
  width: $width-max
  background: $img-marble

.clear
  clear: both

.separator
  margin: 0

/* Breadcrumbs */

#breadcrumbs
  margin: 0
  padding: 30px 0
  background: $img-marble

.breadcrumb-item
  display: inline-block
  text-align: center

.breadcrumb-text
  @extend .breadcrumb-item
  /*width: ($width-tab - $width-breadcrumb-arrow * 4) / 5*/
  font-size: $font-size-breadcrumb-text

/* Manual breadcrumb item sizing */
#bc-1
  width: $width-breadcrumb-first

#bc-2
  width: $width-breadcrumb-second

#bc-3
  width: $width-breadcrumb-third

#bc-4
  width: $width-breadcrumb-fourth

#bc-5
  width: $width-breadcrumb-fifth

.breadcrumb-text.state-ok
  color: $color-link
  cursor: pointer

.breadcrumb-text.state-wait
  color: $color-faded
  cursor: default

.breadcrumb-text.active
  color: $color-normal !important

.breadcrumb-arrow
  @extend .breadcrumb-item
  position: relative
  top: 1px
  width: $width-breadcrumb-arrow
  height: $height-breadcrumb-arrow

.breadcrumb-arrow.state-ok
  background: $img-arr-ok

.breadcrumb-arrow.state-wait
  background: $img-arr-wait

// Override
.breadcrumb > li + li::before
  width: 0
  content: none
  display: none

/* Tabs and panes */

.form-tab
  display: none

.form-tab.active
  display: block !important

.tab
  max-width: $width-tab
  width: $width-tab
  margin: 0 auto 0

.tab-pane
  float: left
  display: block

.tab-pane:nth-child(2)
  margin-left: $margin-between-panes

.pane-wide
  max-width: $width-pane-wide
  width: $width-pane-wide

.pane-narrow
  max-width: $width-pane-narrow
  width: $width-pane-narrow

.pane-half
  max-width: $width-pane-half
  width: $width-pane-half

.pane-special
  margin-left: ($width-tab - $width-pane-special) /2 !important
  max-width: $width-pane-special
  width: $width-pane-special

// Messy AngularJS repeat directives --> hacky .form-module separators

#tab-items .pane-stack:not(:nth-of-type(1))
  border-top: 1px solid $color-control-border
  padding-top: 25px

#tab-offenders .form-module:not(:first-child), #tab-witnesses .form-module:not(:first-child)
  border-top: 1px solid $color-control-border
  padding-top: 15px

/* Inputs : Regular */

// Hacky inlining

.inline-field
  float: left
  margin-left: $margin-between-inlines
  margin-right: 0

.inline-field:first-child
  margin-left: 0
  margin-right: $margin-between-inlines

.inline-field:nth-child(3)
  margin-left: $margin-between-inlines !important

// End of hacky inlining

.field
  margin: 0 0 $margin-vertical-between-inputs

.field-wide
  @extend .field
  max-width: $width-pane-wide
  width: $width-pane-wide

.field-wide-half
  @extend .field-wide
  max-width: ($width-pane-wide - $margin-between-inlines) / 2

.field-half
  @extend .field
  max-width: $width-pane-half
  width: $width-pane-half

.field-third
  @extend .field
  max-width: $width-pane-third
  width: $width-pane-third

.field-narrow
  @extend .field
  max-width: $width-pane-narrow
  width: $width-pane-narrow

.field-centered
  text-align: center
  margin: 0 auto $margin-vertical-between-inputs !important

.field-separate
  margin-bottom: $margin-vertical-between-groups !important

.field-special-left
  width: 350px
  margin-right: 0 !important

.field-special-right
  width: 250px
  margin-left: 0 !important

/* Standard addon sizes */

.addon-small
  max-width: $width-input-addon-small
  width: $width-input-addon-small

.addon-smallish
  max-width: $width-input-addon-smallish
  width: $width-input-addon-smallish

.addon-normal
  max-width: $width-input-addon-normal
  width: $width-input-addon-normal

.addon-large
  max-width: $width-input-addon-large
  width: $width-input-addon-large

/* Inputs : Compound */

.compound
  float: left

.compound-left
  border-right: none

.name-compound.compound-left
  max-width: $width-name-compound-left
  width: $width-name-compound-left

.name-compound.compound-right
  max-width: $width-name-compound-right
  width: $width-name-compound-right

.address-compound.compound-left
  max-width: $width-address-compound-left
  width: $width-address-compound-left

.address-compound.compound-right
  max-width: $width-address-compound-right
  width: $width-address-compound-right

/* Input-special */

.input-special-left
  border-top-right-radius: 0 !important
  border-bottom-right-radius: 0 !important
  border-right: none

.input-special-right-addon
  border-top-left-radius: 0 !important
  border-bottom-left-radius: 0 !important

/* Inputs : Textarea */

textarea
  resize: none

.addon-textarea
  border-bottom-left-radius: 0 !important
  border-top-right-radius: 4px !important
  border: 1px solid #ccc !important
  border-bottom: 1px solid $color-control-border !important
  // Bootstrap .form-control
  padding-top: 6px !important
  padding-bottom: 6px !important
  height: 34px !important

.textarea-with-addon
  border-top-left-radius: 0 !important
  border-top-right-radius: 0 !important

/* Inputs : Datepicker */

.datepicker
  display: block
  margin: 0 auto

/* Inputs : Checkbox */

.checkbox
  display: block
  margin-left: 20px
  margin-top: 15px

.checkbox-box
  margin-left: 0 !important

.checkbox-label
  padding-left: 27px !important

/* Form Text */

.form-text
  display: inline-block
  padding-bottom: 5px
  color: $color-darkish !important

.form-text-centered
  text-align: center

.tiny-text
  margin-left: 10px
  width: $width-pane-wide
  font-size: 9px

//Override
form:not(.ng-pristine)
  input.ng-invalid, textarea.ng-invalid, select.ng-invalid
    border-color: $color-error
    box-shadow: 0 0 2px $color-error-shadow

/* Titles and headings */

.title
  margin: 0
  text-transform: uppercase
  text-align: center

.form-title
  @extend .title
  padding: $padding-title-vertical 0
  font-size: $font-size-form-title

.tab-title
  @extend .title
  padding: $padding-title-vertical 0
  font-size: $font-size-tab-title

.module-title
  margin: 0 0 $margin-vertical-between-inputs
  padding: 0 35px 0 // Align with module controls
  font-size: $font-size-tab-title - 2

.module-controls
  text-align: center

/* Generic Buttons */

// Override
.btn
  padding: $padding-button

/* Form Control Buttons */

.button-remove
  color: $color-warning

.button-remove:hover
  color: darken($color-warning, 20)

/* Tab Control Buttons */

#tab-controls
  padding: $margin-vertical-between-inputs 0 $margin-vertical-between-groups

#button-back
  float: left

#button-next
  float: right

/* Shims */
/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0


input[type="number"]
  -moz-appearance: textfield
