body{
	overflow:scroll;
}
.form-horizontal{
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
	max-width: 990px;
	margin: 0 auto;
	background: #ebebeb;
}
.input-style{
	padding: 2%;
}
.input-style-t{
	margin-top: 4.2em;;
	padding: 2%;
}
.input-style input:hover,
.btn-hov button:hover,
.input-style-a input:hover,
.input-style select:hover,
.input-style-k textarea:hover,
.input-style-t input:hover{
/*	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);*/
	border: 1px solid black;
}
.required{
	color:red;
}
.header{
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#999999));
	background: -moz-linear-gradient(top,  #ededed,  #999999);
	border-top: 1px solid #dddddd;
	margin-top: 2em;
	margin-bottom: 1em;
	
}
.header > h3{
	color: #4e4343;
}
.checkNouded{
    border-bottom: 1px solid #a7a7a7;
    padding-bottom: 1em;
    padding-top: 0.5em;
}
.checkNouded:last-child{
    border: 0;
}
.checkToimik >a{
	color:blue !important;
}



/*Media styles for aadress and notifications input*/
@media only screen and (min-width:992px) {
	.input-style-a,.input-style-k{
		padding: 1%;
	}
	.notifications{
		margin-left: 15rem;
	}
}
@media only screen and (max-width: 992px) and (min-width: 0px){
	.input-style-a,.input-style-k{
		padding: 2.68%;
	}
	.notifications{
		margin-left: 1rem;
	}
}
@media only screen and (max-width: 1200px) and (min-width: 992px){
	.notifications{
		margin-left: 14.5rem;
	}	
}