body{
    background-color: #3366CC;
   } 
   
#form {
	text-align: center;
}

#header {
  text-align: center;
  border-radius: 50px;
  font-family: Arial;
  color: #000000;
  font-size: 25px;
  padding: 10px 20px 10px 20px;
    outline:none;
	}
#header:hover { /* background when click */
  background-image: -webkit-linear-gradient(top, #000000, #990000);
}
	
#btn {
  background: #009933;
  background-image: -webkit-linear-gradient(top, #009933, #000000);
  border-radius: 50px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
    outline:none;
}

#btn:hover { /* background when click */
  background-image: -webkit-linear-gradient(top, #000000, #990000);
}

.flash { /* flashing light */
   animation-name: flash;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes flash {
    from {color: red;}
    to {color: black;}
}