<!DOCTYPE html>
<html ng-app="catStorage">
<head>
	<link rel="stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<style>

	</style>
</head>

<body>

<div ng-controller="formController" ng-init="aastaarv=0" style="margin:1em">
	<form>
		Nimekiri:
		<input type="text" ng-model="nimekiri" style="margin-left:5px;"><br>
		Aastaarv:
		<input type="number" ng-model="aastaarv"><br>
		<br>
		<button class="btn btn-success" ng-click="lisa()">Lisa kass</button>
	</form>
	<p>Kass: {{show()}}</p>
	<table class="table" ng-controller="catControl">
		<thead>
			<tr>
			  <th>Name</th>
			  <th>Age</th>
			</tr>
		</thead>
		<tr ng-repeat="cat in cats">
			<td>{{cat.nimekiri}}</td>
			<td>{{cat.aastaarv}}</td>
		</tr>
	</table>
</div>

<script>
var catStorage = angular.module('catStorage', []);
var catsReplace = [];

catStorage.controller('catControl', function ($scope) {
  $scope.cats = catsReplace;
});

function formController ($scope) {
	$scope.show = function() {
		if($scope.aastaarv != 0 && $scope.nimekiri != "" && $scope.nimekiri != null) {
			return $scope.nimekiri + ' ' + $scope.aastaarv;
		} else {
			return "";
		}
	};
    $scope.lisa = function() {
    	if($scope.nimekiri != "" && $scope.nimekiri != null && $scope.aastaarv > 0) {
			catsReplace[catsReplace.length] = {'nimekiri': $scope.nimekiri, 'aastaarv': $scope.aastaarv};
    	} else {
    		$scope.show = function() {
    			return "Invalid input!";
    		}
    	}
        $scope.nimekiri = "";
        $scope.aastaarv = 0;
    };
}
</script>
</body>
</html>
