<!DOCTYPE html>
<html lang="en" ng-app="myApp" >
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Kassid</title>
	<link href="bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="style.css">
	<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
		<link rel="stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<style>
		table, th , td  {
		  border: 1px solid grey;
		  border-collapse: collapse;
		  padding: 5px;
		}
		table tr:nth-child(odd)	{
		  background-color: #f1f1f1;
		}
		table tr:nth-child(even) {
		  background-color: #ffffff;
		}
	</style>
</head>
<body>

		<div ng-controller="formController" ng-init="year=0" >
			<!-- <form ng-submit="todoAdd()"> -->
			<form class="form-signin" id='login-form'>
			  <h2 class="form-signin-heading text-center">Kaaside nimekiri</h2>
			  <label for="inputName">Kassi nimi</label>
			  <input type="text"  ng-model="list" id="inputName" class="form-control" placeholder="Kassi nimi" required="" autofocus="">
			  <label for="inputAge">Kassi vanus</label>
			  <input type="number" id="inputAge" ng-model="year"  class="form-control" placeholder="Kassi vanus" required="">
			  <!-- <input class="btn btn-lg btn-primary btn-block" id="send" value="Send" type="submit"></input> -->
			  <button class="btn btn-lg btn-primary" ng-click="add()">Send</button>
			</form>	
			<p class="msg">{{show()}}</p>
			<div class="" ng-controller="catsCheck">				
				<ul >
					<li ng-repeat="cat in cats">{{cat.list}}: {{cat.year}}</li>
				</ul>
			</div>
		</div>

		<script>
		var myApp = angular.module('myApp', []);
		var catsReplace = [];

		myApp.controller('catsCheck', function ($scope) {
		  $scope.cats = catsReplace;
		});

		function formController ($scope) {
			$scope.show = function() {
				if($scope.year == 0 || $scope.list == "" || $scope.list == null) {					
					return "";
				} else {
					return $scope.list + ' ' + $scope.year;
				}
			};
		    $scope.add = function() {
		    	if($scope.list == "" || $scope.list == null || $scope.year <= 0) {
					$scope.show = function() {
						return "Error!Invalid input";
					}
		    	} else {
		    		catsReplace[catsReplace.length] = {'list': $scope.list, 'year': $scope.year};
		    	}
		        $scope.list = "";
		        $scope.year = 0;
		    };
		}
		</script>
		<footer class="ftr">
			Developed by Vadim Kööp ©
		</footer>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="bootstrap.min.js"></script>
	<!-- <script src="main.js"></script> -->
</body>
</html>