
.form-signin {
	width: 350px;
	padding: 1em;
    border-radius: 1em;
}
.form-signin-heading{
	padding: 0.5em;
}
.form-signin > .form-control {
	margin-bottom: 0.8em;
}
.form-signin-heading{
	color: #043662;
}
.msg{
	padding-left: 1em;
}
.ftr{
	padding: 1.2em;
}