@-webkit-keyframes blink {
        20%  { background:antiquewhite; }
		30%  { background:brylywood; }
        40%  { background:bisque; }
        50%  { background:brylywood; }
		60%  { background:bisque; }
}

body{
     -webkit-animation: blink 5.5s infinite;
     -moz-animation:    blink 5.5s infinite;
     -ms-animation:     blink 5.5s infinite;
}

body {
	font-family: Arial;
	width: 100%;
	text-align: center;
	padding-top: 100px;
}


@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
  
}


.fa {
    width: 60px;
    display: block;
    text-align: center;
    color:#990000;
    font:normal 45px 'FontAwesome';
    line-height:60px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.fa-angle-double-down:before {content: "\f103";}

.bounce {
	font-family: Garamond, serif;
	line-height: 1em;
	color: #ff7a7a;
	font-weight:bold;
	font-size: 63px;
	text-shadow:0px 0px 0 rgb(234,101,101),1px 1px 0 rgb(222,89,89),2px 2px 0 rgb(211,78,78),3px 3px 0 rgb(200,67,67),4px 4px 0 rgb(189,56,56),5px 5px 0 rgb(177,44,44),6px 6px 0 rgb(166,33,33),7px 7px 0 rgb(155,22,22),8px 8px 0 rgb(143,10,10),9px 9px 0 rgb(132,-1,-1), 10px 10px 0 rgb(121,-12,-12),11px 11px 10px rgba(0,0,0,1),11px 11px 1px rgba(0,0,0,0.5),0px 0px 10px rgba(0,0,0,.2);
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
}
 
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);}
    60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
    40% {-moz-transform: translateY(-30px);}
    60% {-moz-transform: translateY(-15px);}
}
 
